table {
    border-radius: 5px;
	text-align:center;
}
table td ,th {
    padding: 8px;
}
td,th {
    border: 1px solid black; 
	border-radius:5px;
}
table tbody tr:nth-child(even) td {
    background-color: #f0f0f0; 
}
table tbody tr:nth-child(odd) td {
    background-color: #ffffff;
}